@model SSLS.WebUI.Models.ReaderListViewModel


@{
    ViewBag.Title = "ReaderIndex";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<style>
    .myTable {
        width: 900px;
        margin: 0px auto 0px auto;
    }

    h3 {
        text-align: center;
    }

    .page {
        margin-top: 10px;
    }
</style>

<h3>ReaderIndex</h3>

<table class="table myTable">

    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Money
        </th>
        <th>
            Class
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Readers)
    {
        <tr>
            <td class="readerId">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.Name, "EditReader", new { readerId = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>           
            <td>
                @using (Html.BeginForm("GetReaderInfo", "Admin"))
                {
                    @Html.Hidden("readerId", item.Id)
                    <input type="submit" class="getReaderBorrowInfo btn btn-default" value="读者借阅列表" />
                }               
            </td>
            <td>
                @using (Html.BeginForm("DeleteReader", "Admin"))
                {
                    @Html.Hidden("readerId", item.Id)
                    <input type="submit" class="btn btn-default" value="Delete" />
                }
            </td>
        </tr>
    }
</table>


<div class="page">
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("ReaderIndex", new { page = x }))
</div>