@model MyStore.Domain.Concrete.Product

<style>
    .well{
        width:900px;
        height:330px;
    }
</style>

<div class="well" >
    <h3>@Model.Name</h3>
    <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    <img src="@Model.ImageUrl" alt="@Model.Id 产品图片" width="300" />
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="加入购物车" />
        </div>
    }
    <p>@Model.Description</p>
</div>

