<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Scripts/ssls-_admin.css" rel="stylesheet" />
    <link href="~/Scripts/ssls-page.css" rel="stylesheet" />
</head>
<body>
    <div class="book_store">
        <div class="content">
            <div class="content_left">
                <a class="btn btn-default" href="~/Book/List">主页</a>
                @Html.ActionLink("图书管理主页", "BookIndex", "Admin", new { @class = "btn btn-default" })
                @Html.ActionLink("添加图书", "AddBook", "Admin", new { @class = "btn btn-default" })
                @Html.ActionLink("分类管理主页", "CategoryIndex", "Admin", new { @class = "btn btn-default" })
                @Html.ActionLink("添加分类", "AddCategory", "Admin", new { @class = "btn btn-default" })
                @Html.ActionLink("读者管理主页", "ReaderIndex", "Admin", new { @class = "btn btn-default" })
                @Html.ActionLink("分类统计", "CategoryStatistics", "Admin", new { @class = "btn btn-default" })
            </div>
            <div class="content_right">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            ©2016 14145305 付祥运
        </div>
    </div>
</body>
</html>
