@using Image.WebUI.Models.Home

@{
    Layout = null;
    ViewBag.Title = "Menu";
}


<style>
    .content_left {
        float: left;
        height: 750px;
        width: 450px;
        margin-left: 15px;
    }

        .content_left a {
            text-align: center;
            font-size: 12px;
        }

    .folder_page_list {
        width: 450px;
        height: 50px;
        text-align: center;
        position: absolute;
        bottom: 0px;
    }

        .folder_page_list .pagination-container {
            height: 40px;
        }

            .folder_page_list .pagination-container ul {
                width: 400px;
                height: 10px;
            }

    .active {
        background-color: #428bca;
        color: red;
    }
</style>



@{
    int pageIndex, nextPage, prevPage, folderId, pageCount, startNum;

    pageIndex = Image.WebUI.Models.Home.HomeIndexModel.PageFolder.PageIndex;
    prevPage = pageIndex - 8;
    nextPage = pageIndex + 8;

    folderId = Image.WebUI.Models.Home.HomeIndexModel.FolderId;

    pageCount = HomeIndexModel.PageFolder.PageCount;

    bool hasNext = HomeIndexModel.PageFolder.HasNext;
    bool hasPrev = HomeIndexModel.PageFolder.HasPrev;

    startNum = (pageIndex / 8) * 8;
}

<div class="content_left">

    @foreach (var item in HomeIndexModel.PageFolder.GetPagingData())
    {
        @Html.ActionLink(item.Name, "Index", "Home", new { folderPage = pageIndex, folderId = @item.Id }, new { @class = "list-group-item" })
    }

    <div class="folder_page_list">
        <ul class="pagination">
            @if (hasPrev && pageIndex - 8 >= 0)
            {
                <li class="previous">
                    @Html.ActionLink("上一页", "Index", "Home", new { folderPage = prevPage, folderId = folderId }, new { @class = "" })
                </li>
            }
            else
            {
                <li class="previous disabled">
                    <span>上一页</span>
                </li>
            }

            @for (int i = startNum+1, j = 0; i < pageCount && j < 8; i++, j++)
            {
                if (i == pageIndex)
                {
                    <li class="active">
                        <a href="@Url.Action("Index", "Home", new { folderPage = i, folderId = folderId})">@i</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("Index", "Home",new { folderPage = i, folderId = folderId })">@i</a>
                    </li>
                }
            }

            @if (hasNext && pageIndex + 8 < pageCount)
            {
                <li class="next">
                    @Html.ActionLink("下一页", "Index", "Home", new { folderPage = nextPage, folderId = folderId }, new { @class = "" })
                </li>
            }
            else
            {
                <li class="next disabled">
                    <span>下一页</span>
                </li>
            }
        </ul>
    </div>
</div>
